@import "../../mixins.scss";
@import "../../colors.scss";
@import "./loader.scss";

.wrapper{
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.75%);
}

.brandimage {
    filter: grayscale(1);
    width: 100%;
}

.cv-right-info {
    display: flex;
    flex-wrap: wrap;
}

.cv-info-middle{
    background-color: black;
}

.cv-primary {
    color: $color-primary;
}


.row-imgs img {
    width: 80px;   
}

.cv-info-middle p{
    line-height: 4px;
}

.line-row{
    margin-top: 20px;
    border: 2px solid transparent;
}

.line-row p {
    padding-top: 10px;
}
.line-row:hover{
    border-radius: 10px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 43px 9px rgba(13,110,253,1);
    -moz-box-shadow: 0px 0px 43px 9px rgba(13,110,253,1);
    box-shadow: 0px 0px 43px 9px rgba(13,110,253,1);
}
@include mobile{
    .line-row{
        border-bottom: 1px solid #EEE;
        margin-bottom: 20px;
    }
}