<div class="wrapper ">
  <app-topbar></app-topbar>
  <div class="container">
    <div class="d-flex justify-content-center row">
      <div class="p-4 col-sm-12 col-lg-6 pb-0">
        <img src="../../assets/images/20230707-preview.png" class="brandimage" alt="">
      </div>
      <div class="p-5 col-sm-12 col-lg-6">
        <div class="cv-right-info cv-primary">
          <h1>PAULO</h1>
          <h1>CR SANTOS</h1>
        </div>
        <h4>DEV FULLSTACK</h4>
        <p>
          Olá, eu sou Programador FullStack e tenho mais de 5 anos de experiência no desenvolvimento de aplicações com PHP, NodeJS, Angular e ReactJS outras linguagens. Atualmente sou formado em Análise e desenvolvimento de sistemas pela faculdade FATEC Franca. 
        </p>
        <p><a class="btn btn-success" href="../../assets/PauloCV.pdf" download>Download CV</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid cv-info-middle">
  <div class="container-sm p-5" id="skills">
    <h4 class="cv-primary">My Skills -</h4>
    <div class="row row-imgs mt-2">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/568/php-logo-512.png" alt="php">
          </div>
          <div class="col-7 ml-5 ">
            <p id="php-version"></p>
            <p id="php-tecs-1"></p>
            <p id="php-tecs-2"></p>
            <p id="php-tecs-3"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/233_Node_Js_logo-512.png" alt="nodejs">
          </div>
          <div class="col-7 ml-5 ">
            <p id="node-version"></p>
            <p id="node-tecs-1"></p>
            <p id="node-tecs-2"></p>
            <p id="node-tecs-3"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" alt="angular">
          </div>
          <div class="col-7 ml-5 ">
            <p id="angular-version"></p>
            <p id="angular-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn0.iconfinder.com/data/icons/logos-brands-in-colors/128/react_color-512.png" alt="react">
          </div>
          <div class="col-7 ml-5 ">
            <p id="react-version"></p>
            <p id="react-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://img.icons8.com/?size=512&id=uJM6fQYqDaZK&format=png" alt="typescript">
          </div>
          <div class="col-7 ml-5 ">
            <p id="typescript-version"></p>
            <p id="typescript-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://img.icons8.com/?size=512&id=108784&format=png" alt="javascript">
          </div>
          <div class="col-7 ml-5 ">
            <p id="javascript-version"></p>
            <p id="javascript-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/97_Docker_logo_logos-256.png" alt="docker">
          </div>
          <div class="col-7 ml-5 ">
            <p id="docker-version"></p>
            <p id="docker-tecs-1"></p>
          </div>
        </div>
      </div>
    
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Non-Service_Specific_copy__AWS_Cloud-512.png" alt="AWS">
          </div>
          <div class="col-7 ml-5 ">
            <p id="AWS-version"></p>
            <p id="AWS-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://img.icons8.com/?size=512&id=VLKafOkk3sBX&format=png" alt="Azure">
          </div>
          <div class="col-7 ml-5 ">
            <p id="azure-version"></p>
            <p id="azure-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/181/MySQL-512.png" alt="mysql">
          </div>
          <div class="col-7 ml-5 ">
            <p id="mysql-version"></p>
            <p id="mysql-tecs-1"></p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn1.iconfinder.com/data/icons/soleicons-fill-vol-1/64/postgres_database_server_relational_dbms_sql-512.png" alt="postgres">
          </div>
          <div class="col-7 ml-5 ">
            <p id="postgres-version"></p>
            <p id="postgres-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/512/mongodb-2-512.png" alt="mongodb">
          </div>
          <div class="col-7 ml-5 ">
            <p id="mongodb-version"></p>
            <p id="mongodb-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-512.png" alt="html5">
          </div>
          <div class="col-7 ml-5 ">
            <p id="html-version"></p>
            <p id="html-tecs-1"></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row line-row">
          <div class="col-4">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-512.png" alt="css3">
          </div>
          <div class="col-7 ml-5 ">
            <p id="css-version"></p>
            <p id="css-tecs-1"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>