<div class="wrapper ">
  <app-topbar></app-topbar>
  <div class="container">
    <div class="d-flex justify-content-center row">
      <div class="p-4 col-sm-12 col-lg-6 pb-0">
        <img src="../../assets/images/20230707-preview.png" class="brandimage" alt="">
      </div>
      <div class="p-5 col-sm-12 col-lg-6">
        <div class="cv-right-info cv-primary">
          <h1>PAULO</h1>
          <h1>CR SANTOS</h1>
        </div>
        <h4>DEV FULLSTACK</h4>
        <p>
          Olá, eu sou Programador FullStack e tenho mais de 5 anos de experiência no desenvolvimento de aplicações com PHP, NodeJS, Angular e ReactJS outras linguagens. Atualmente sou formado em Análise e desenvolvimento de sistemas pela faculdade FATEC Franca. 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid cv-info-middle">
  <div class="container-sm p-5" id="skills">
    <h4 class="cv-primary">My Skills -</h4>
    <div class="row row-imgs pt-2">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/568/php-logo-512.png" alt="php">
          </div>
          <div class="col-7 ml-5 ">
            <p id="php-version"></p>
            <p id="php-tecs-1"></p>
            <p id="php-tecs-2"></p>
            <p id="php-tecs-3"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/233_Node_Js_logo-512.png" alt="nodejs">
          </div>
          <div class="col-7 ml-5 ">
            <p id="node-version"></p>
            <p id="node-tecs-1"></p>
            <p id="node-tecs-2"></p>
            <p id="node-tecs-3"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-4">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" alt="angular">
          </div>
          <div class="col-7 ml-5 ">
            <p id="angular-version"></p>
            <p id="angular-tecs-1"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-4">
            <img src="https://cdn0.iconfinder.com/data/icons/logos-brands-in-colors/128/react_color-512.png" alt="react">
          </div>
          <div class="col-7 ml-5 ">
            <p id="react-version"></p>
            <p id="react-tecs-1"></p>
            <p id="react-tecs-2"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>