<nav class="navbar">
  <div class="container">
    <a class="navbar-brand">#</a>
    <div class="d-flex btn-item">
      <a class="btn btn-primary" href="/">Home</a>
      <a class="btn btn-primary" href="#skills">skills</a>
      <a class="btn btn-primary" href="https://www.linkedin.com/in/paulo-c%C3%A9sar-035817204/" target="_blank">
        <i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a class="btn btn-primary" href="https://github.com/paulocescar/" target="_blank">
        <i class="fa-brands fa-github"></i> Github</a>
    </div>
  </div>
</nav>